{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/camera.css' %}"/>
<style>
    video {
        width: 600px;
        height: 450px;
        border: 1px solid #505050;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .video-container {
        margin-top: 11rem;
        text-align: center;
    }

</style>

<div class="video-container">
    <video autoplay muted id="video-realtime"></video>
    <br><br>
    <button class="start-btn btn rounded-pill mx-5" id="video-start">시작</button>
    <button class="start-btn btn rounded-pill mx-5" id="video-stop">정지</button>
    <a id="download" href="" style="display: none;">download</a>
</div>

<script src="{% static 'js/camera.js' %}"></script>

{% endblock %}